.header-bg{
 background-image: url(../images/background/beigeRightCorner.png);
 background-size: contain;
 background-repeat: no-repeat;
 background-position: top right;
}

.top-heading{
    text-transform: uppercase;
    color:#DF6951;
}

.main-heading{
    width: 545px;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -3.36px;
    margin: 25px 0 30px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-navigation{
    display: flex;
    align-items:center;
    padding: 45px 0 25px 0;
}

.jadoo{
    margin-right: 222px;
}

.top-navigation ul li {
    display: inline-flex;
    padding-right: 65px;
    font-family: 'Google Sans'
}

.sing-up{
    border: 1px solid;
    border-radius: 5px;
    margin-right: 50px;
    background-color: #FFF1DA;
    padding: 10px 20px;
}

.select-language{
    border: none;
    background-color: #FFF1DA;
}

.top-container{
    display: flex;
    margin-bottom: 105px;
}

.slogan{
    margin-top: 110px;
    width: 545px;
}

.heading-description{
 line-height: 30px;
 margin: 5px 0 35px 0;
}

.slogan-buttons{
    display: flex;
    width: 380px;
}

.find-more-btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #F1A501;
    color: #ffffff;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    margin-right: 44px;
}

.find-more-btn:hover{
    cursor: pointer;
}

.play-demo{
    display: flex;
    background-color: #fff;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    color: #686D77;
    width: 165px;
    height: 60px;
    padding: 0;
    border: none;
}

.play-demo:hover{
    cursor: pointer;
}
.demo-img{
    margin: 25px 0 0 -26px;
    width: 60%;
}

.traveller{
    width: 765px;
}

h4{
    font-family: 'Poppins';
    font-weight: 700;
}

.services p{
    margin-bottom: 10px;
}
.services h2{
    text-align: center; 
    margin-bottom: 65px;
}

.service-items{
    align-items: center;
}

.service-items article{
    float: left;
    width: 25%;
    /* min-width: 110px; */
    text-align: center;
    border-radius: 36px;
    line-height: 26px;
    padding: 45px;
    margin-bottom:155px;
    box-shadow: 0px 20px 35px 0px rgba(23, 23, 22, 0.15);
}

.service-items article img{
    margin: auto;
}
.service-items article h5{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
}

.destinations{
    margin-bottom: 155px;
}

.destinations-items{
    /* background-image: url(../images/background/spiral.png);
    background-repeat: no-repeat;
    background-position: right; */
}

.destinations h2{
    text-align: center; 
}

.destinations-items article {
    float: left;
    width: 30%;
    box-shadow: 0px 20px 35px 0px rgba(23, 23, 22, 0.15);
    border-radius: 24px;
    background-size: cover;
}

.destinations-items article > div {
    padding-top: 325px;

}
.country{
    background-color: white;
    padding: 20px 0;
}

.country p {
    float: left;
    
    /* background-color: white; */
}

.trip-duration{
    /*   background-color: white;
    padding: 0 0 40px 20px; */
    padding: 20px 0 40px 0;
    border-radius: 0 0 24px 24px;
}

.trip-duration p {
    float: right;
}

.trip-duration img {
    float: left;
}

#rome{
    background-image: url('../images/Italy.png');
    
}

#london{
    background-image: url('../images/England.png');   
    margin: 0 30px;
}

#europe{
    background-image: url('../images/Europe.png');
}

h1, h2{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
}

p{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    color: #5E6282;
}

.category{
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.service-description{
    font-family: 'Poppins';
    font-weight: 500;
}

.top-selling{
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center; 
    clear: both;
    /* box-sizing: inherit; */

}

.easy-fast{
    font-family: 'Poppins';
    font-weight: 600;
}

dt{
    font-family: 'Poppins';
    font-weight: 700;
}

dd{
    font-family: 'Poppins';
    font-weight: 400;
}



/* .comments p{
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
} */

.subscribe p{
    font-weight: 600;
    font-size: 33px;
    text-align: center;
    color: #5E6282;
}

.bottom-info > li{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}